* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #3d3c3b;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2a5298;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
}

.hero-title {
    background: linear-gradient(270deg, #ffcc00, #ff6699, #66ccff);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 2s ease infinite; 
    cursor: pointer;
}

.tooltip-container {
    position: relative; 
    display: inline-block; 
}

.tooltip-text {
    visibility: hidden; 
    width: auto; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px; 
    position: absolute;
    z-index: 1;
    top: 100%; 
    left: 10%; 
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s; 
    font-size: 14px;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1; 
}
.arena:hover{
    cursor: pointer;
    
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    position:absolute; 
    left: 0; 
    width: 15vw; 
    height: auto;
    background-color: #22437a;
    padding: 20px;
    border-radius: 0 10px 10px 0; 
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: white;
}

.control-group {
    margin-bottom: 15px;
}

.control-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

.control-group input[type="range"],
.control-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.main-content {
    margin-left: 250px; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#arrayContainer {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end;
    height: 300px;
    width: 100%; 
    max-width: 75vw;
    margin-bottom: 20px;
    overflow: hidden; 
    padding: 10px; 
    box-sizing: border-box; 
    /* perspective: 1000px; */
}

.bar {
    height: 100px;
    background-color: #00ffff; 
    transition: height 0.3s ease; 
    border-radius: 5px;
    width: calc((100% / var(--array-size)) - 5px); 
    margin-right: 5px;
    overflow: hidden;
    perspective: 1000px;
}

.bar.compared {
    background-color: green;
}

.bar.swapped {
    background-color: red; 
    transform: translatez(20px);
    transform: translatex(20px);
    transform: translatey(20px); 
    transition: transform 1s ease-in-out;
}

.bar:hover {
    background-color: #146da8; 
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    visibility: hidden;
}

.controls {
    display: flex;
    gap: 10px;
}

.case-buttons{
    display: flex;
    flex-direction: column;
}

.case-buttons button{
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 10px;
}


button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1f6391; 
}

.icon-button {
    margin-bottom: 10px;
}

#algorithmStepDisplay {
    white-space: normal; /* Allow text to wrap */
    overflow-wrap: break-word; /* Break long words if necessary */
    overflow-y: auto;
    max-width: 850px;
}   

/* .bar-symbol {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        color: red;
        z-index: 1;
} */
/* footer {
    background-color: #2a5298; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0%;
    width: 100%;
    /* top:99%; */
/* } */ 

@media (max-width: 600px) {
    .infoBuon {
        max-height: 200px; /* Adjust height for smaller screens */
        padding: 5px; /* Reduce padding for smaller screens */
    }
}