spec:
  template:
    spec:
      imagePullSecrets:
      - name: nexus-secret
      containers:
      - name: hello-world
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/my-repository/hello-world:PLACEHOLDER-TO-REPLACE
        imagePullPolicy: IfNotPresent
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
